<div id="about">
    <div id="about-top-image">
        <%= image_tag("top-about.JPG", :alt => "Image of The Chef", class: "img-responsive") %>
    </div>
    <div id="about-text">
        <h2>Hi! I'm Missy!</h2>
        <p></p>
    </div>
    <div id="about-bottom-image">
        <%= image_tag("bottom-about.JPG", :alt => "Image of The Chef", class: "img-responsive") %>
    </div>

</div>