<h1 class="text-center"><%= @recipe.name %></h1>

<div class="recipe-post col-md-8 col-md-offset-2">
	<img class="img-responsive" src="<%= @recipe.pic.url %>">
	<div><%= @recipe.recipe %></div>
</div>
<div class="back-btn text-right">
	<%= link_to "Back To Recipes", root_path, class: "btn btn-info description", role: "button"%>
</div>

