// not working properly
.content{
	#body_div{
		top: 0;
		position: relative;
	    height: auto;
	    text-align: center;
	}
	.recipe-form{
		.img-btn{
			margin-left: 40%;
		}
	}	
}


@media (min-width: 320px) and (max-width: 720px) {
  	#main{
  		#top-recipes{
  			#main-carousel {
			    max-width: 100%;
			}
		}	
	}
}	
